
# [x] Fetch git tag
# [ ] Poetry cache

name: Dummy action

on:
  release:
      types: [published]
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Capture branch and tag
      id: branch_name
      run: |
        echo ::set-env name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
        echo ::set-env name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
        ls -l ./
    # - name: Set latest tag found
    #   run: |
    #     export RELEASE_TAG_VERSION=${{ github.event.release.tag_name }}
    #     echo ::set-env name=LATEST_TAG::${RELEASE_TAG_VERSION:1}
    # - name: Echo latest tag found
    #   run: |
    #     echo ${LATEST_TAG}
    # # - name: Verify new version is also set in package and CHANGELOG
    # #   run: |
    # #     grep ${LATEST_TAG} CHANGELOG.md
    # #     grep ${LATEST_TAG} pyproject.toml

  build_wheels:
    needs: build # skip if build fails
    name: Build wheel on ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@ece3d66d6d54a01594acd0ee2e79d1bfb2df136d
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install deps
      run: |
        pip install --upgrade pip poetry
        poetry install

    - name: Build wheel
      run: |
        poetry build -f wheel

    - uses: actions/upload-artifact@v1
      with:
        name: wheels
        path: ./dist
  
  publish:
    needs: build_wheels
    runs-on: ubuntu-latest
    steps:
    - name: Get wheels
      uses: actions/download-artifact@v1
      with:
          name: wheels
    - name: Check wheels
      run: |
        ls -lh wheels/*

# Poetry cache test
    # - name: Hello master
    #   run: |
    #     echo "Hello"
    #   if: env.SOURCE_BRANCH == 'master'
    # - name: Bye
    #   run: |
    #     echo "Bye!"
